.addOrder,
.addStock {
  border: 2px solid black;
  width: 60vw;
  height: 70vh;
  position: absolute;
  top: 20vh;
  left: 22vw;
  border-radius: 5px;
  background-color: aliceblue;
}

.orders-container {
  min-height: 68.5vh;
}

.dashboard {
  background-color: #f8f9fa;
}
.fa-brands {
  display: inline-block;
  padding: 10px;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  text-decoration: none;
  cursor: pointer;
}
.fa-brands:hover {
  color: #1369ce;
}

.home {
  margin-top: 10vh;
  min-height: 90vh;
}
.home-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 2px solid black; */
}
.home-card {
  background-color: aliceblue;
}

.homeHeaders {
  background-color: darkgray;
}
